name: First Workflow
on: push
jobs: 
    checkout-code: 
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Lint code
              run: wearerequired/lint-action@v2
